:root {
  --primary: #fcd25e;
  --secondary: hsl(0 0% 15%);
  --text: #f2e8cf;
  --link-text: black;
}
header {
  height: 5vh;
}
#nav {
  background-color: var(--secondary) !important;
}
main {
  min-height: 50vh;
  background-color: #f2e8cf;
}
footer {
  height: 10vh;
  padding-inline: 2rem;
  background-color: var(--secondary);
  color: var(--text);
}
nav img {
  max-height: 7vh;
}
footer img {
  width: 2.4rem;
  border-radius: 50%;
}
footer p {
  font-size: 2rem;
}
.navbar-nav {
  margin-left: auto;
}
.nav-link {
  border-top: 3px solid var(--text);
  padding: 0.1rem 0.6rem !important;
  border-radius: 5px;
  color: var(--text) !important;
}
.nav-link:hover {
  background-color: var(--text);
  color: var(--link-text) !important;
}
.hero {
  background-color: var(--primary);
  color: var(--link-text);
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
}
.filters {
  align-items: center;
  justify-content: center;
}
.filters .dropdown {
  margin-block: 1rem;
}
.searchbar {
  margin: 1rem;
  max-width: 500px;
}
.searchbar input {
  padding: 0.7rem 1rem;
}
.searchbar button {
  height: 3rem;
}
.dropdown-menu {
  padding: 0.5rem !important;
  transform: none !important;
}
.cards {
  padding: 2rem;
  padding-bottom: 5rem;
}
#logo-face {
  width: 2rem;
  color: transparent;
}
.socials a {
  color: transparent !important;
}

#logo-whats {
  width: 2rem;
}
