:root {
  --primary: #fcd25e;
  --secondary: hsl(0 0% 15%);
  --text: #f2e8cf;
  --link-text: black;
}
header {
  height: 5vh;
}
#nav {
  background-color: var(--secondary) !important;
}
main {
  min-height: 83vh;
  background-color: #f2e8cf;
}
footer {
  height: 10vh;
  padding-inline: 2rem;
  background-color: var(--secondary);
  color: var(--text);
}
nav img {
  max-height: 7vh;
  padding-left: 2rem;
}
footer img {
  width: 2.4rem;
  border-radius: 50%;
}
p {
  margin: 0 !important;
}
footer p {
  font-size: 2rem;
}
.navbar-nav {
  margin-left: auto;
}
#navbarNavAltMarkup {
  padding: 2rem !important;
}
.nav-link {
  border-top: 3px solid var(--text);
  padding: 0.1rem 0.6rem !important;
  border-radius: 5px;
  color: var(--text) !important;
}
.nav-link:hover {
  background-color: var(--text);
  color: var(--link-text) !important;
}
.hero {
  background-color: var(--primary);
  color: var(--link-text);
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
}
.filters {
  padding: 2rem !important;
  align-items: center;
  justify-content: center;
}
.filters .dropdown {
  margin-block: 1rem;
}
.searchbar {
  margin: 1rem;
  max-width: 500px;
}
.searchbar input {
  padding: 0.7rem 1rem;
}
.searchbar button {
  height: 3rem;
}
.dropdown-menu {
  padding: 0.5rem !important;
  transform: none !important;
}
.cards {
  padding-inline: 2rem;
  padding-bottom: 5rem;
}
.card-bottom {
  padding-top: 1.5rem;
  justify-content: space-between;
}
.card-bottom p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cards h5 {
  text-align: center;
  padding-block: 1rem;
}
.card-title {
  background-color: var(--primary) !important;
}
.card-bottom a {
  background-color: var(--secondary);
  border-color: var(--secondary);
}
.card-bottom a:hover,
.card-bottom a:active,
.card-bottom a:focus {
  background-color: var(--text) !important;
  color: black !important;
  border-color: black !important;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card {
  align-self: stretch;
  height: 500px;
}
.card img {
  object-fit: cover;
  height: 300px;
}
#logo-face {
  width: 2rem;
  color: transparent;
}
.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.socials a {
  color: transparent !important;
}
#logo-whats {
  width: 2rem;
}
.contact-form {
  padding-block: 5rem;
}
fieldset {
  width: 70vw;
}
fieldset :where(input, textarea, label) {
  width: 100%;
}
fieldset input[type='submit'] {
  max-width: 30%;
  align-self: flex-end;
  margin-block: 1.5rem;
  padding-block: 0.3rem;
  background-color: var(--secondary);
  color: var(--text);
  border-radius: 6px;
}
fieldset label {
  align-self: flex-start;
  font-size: 1.4rem;
}

@media (max-width: 425px) {
  nav img {
    padding: 0;
  }
  nav > div {
    padding: 0 !important;
  }
  .socials {
    justify-content: initial;
    gap: 1rem;
  }
  .cards {
    padding-inline: 1rem;
    align-items: center !important;
    flex-direction: row !important;
  }
  fieldset {
    width: 95vw;
  }
}
@media (min-width: 765px) {
  fieldset {
    width: 50vw;
  }
}
@media (min-width: 1025px) {
  fieldset {
    width: 35vw;
  }
}
